@model web.Domain.Entities.UserProfile

@{
    ViewBag.Title = "Bank";
    Layout = "_Layout";
}
<div class="row justify-content-md-center">
    <h2>My Account</h2>
</div>
<hr/>
<div class="container">
<div class="row justify-content-md-center">
    <div class="col">
        <div class="row mt-2">
            <div class="col">
                Account ID:
            </div>
            <div class="col">
                @Model.UserData.AccountId
            </div>
        </div>
        <div class="row">
            <div class="col">
                Username:
            </div>
            <div class="col">
                @Model.UserData.Username
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                First Name:
            </div>
            <div class="col">
                @Model.UserData.FirstName
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                Last Name:
            </div>
            <div class="col">
                @Model.UserData.LastName
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                Amount:
            </div>
            <div class="col">
                @Model.UserData.Amount
            </div>
        </div>
    </div>
    <div class="col">
    			@if (TempData["message"] != null)
                		{
                			<p style="color: red;">@TempData["message"]</p>
                		}
    		</div>
</div>    
</div>

